@charset "UTF-8";

/*---------------GOOGLE FONTS-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@300;400;700&display=swap');

/*---------------VARIABLES CSS-------------------*/
:root {
    --header-height: 4.5rem;

    /*---------------COLLORS -------------------*/
    --first-color: #2b9348;
    --first-color_alt: #1d7a37;
    --first-color_alt_light: #36ba5b;
    --light-color: #ffffff;
    --text-color: #171f07;
    --body-color: #ffffff;
    --container-color: #f1fcdc;

    /*---------------FONT  AND TYPOGRAPHY-------------------*/
    --body-font: "Lato", sans-serif;
    --font-logo: 'Italiana', serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    /*---------------MARGINS-------------------*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*---------------Z INDEXS-------------------*/
    --Z-fixed: 100;
    --z-tooltip: 10;
}

/*---------------BASE-------------------*/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    top: 0;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.2;  
}

.inicio {
  align-items: center;
  text-align: center;
  background-color: red;


}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*--------------- CLASS CSS-------------------*/
.section {
  padding: 4rem 0 2rem;
}

.separacao {
  background-color: aquamarine;
}
.categoria_produtos {
  color: red;
  background-color: bisque;
  text-align: center;

}
.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-family: var(--font-logo);
  font-size: var(--h1-font-size);
  letter-spacing: 4px;
  color: var(--first-color);
  margin-top: var(--mb-6);
  background-color: antiquewhite;
}

.section-subtitle {
  display: block;
  color: var(--text-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-light);
  letter-spacing: 4px;
  margin-bottom: var(--mb-1);
  color: red;
  background-color: antiquewhite;
}

.section-text {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  letter-spacing: 1.2px;
  line-height: 24px;
  margin-bottom: var(--mb-2);
  
}
.contato_title  {
  background-color: #36ba5b;
  font-size: 30px;
  color: blue;
  text-align: center;
}
/*---------------LAYOUT-------------------*/

.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  gap: 1, 5rem;
}

.header {
  width: 90%;
/*  position: fixed;*/
  top: 0;
  left: 0;
  z-index: var(--Z-fixed);
  background-color: var(--light-color);
}

.bg-container {
  background-color: var(--container-color);
}
/*
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
*/
@media (max-width: 960px){
  .nav__menu {
      position: absolute;
      top: 0;
      right: -100%;
      width: 50%;
      height: 100vh;
      text-align: right;
      padding: 0 2rem;
      background-color: var(--container-color);
      border-radius: 150px 0 0 0;
      box-shadow: -10px -8px 4px rgba(0, 0, 0, 0.1);
      z-index: var(--z-tooltip);
      transition: 0.4s;
  }

}

.nav__menu .logo{
      padding-left: 4rem;
  }

  .show-menu {
      right: 0;
  }

.logo{
  font-family: var(--font-logo);
  font-size: var(--h1-font-size);
  padding-top: 3rem;
  background: linear-gradient(to right, #2B9348 0%, #80B918 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SCROLL HEADER*/
.scroll-header {
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* SCROLL TOP*/

.scrolltop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  padding: 0.5rem;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color_alt_light);
  color: var(--first-color_alt);
}

.scroll__top__icon {
  font-size: 1.8rem;
  color: var(--light-color);
}

/* SHOW SCROLL TOP*/
.scroll-top {
  visibility: visible;
  bottom: 1rem;
}


/*---------- CARDAPIO------------*/
.cardapio__container {
  padding: 1rem 4rem;
}

.card {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: var(--mb-4);
  margin-bottom: var(--mb-4);
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  border-radius: 8px 8px 0 0;
}

.card__data {
  height: 5rem;
}

.card__data h3 {
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-left: var(--mb-2);
}

.card__data .card__descripition {
  margin-left: var(--mb-2);
}

.card__data small {
  font-weight: var(--font-light);
  font-size: var(--normal-font-size);
  margin-top: var(--mb-4);
  margin-bottom: var(--mb-4);
}

.card__preci {
  margin-top: var(--mb-0.5);
}

.card__preci span {
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  position: relative;
  left: 1rem;
  bottom: 1rem;
}

.card__cart {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.6rem;
  color: var(--light-color);
  background-color: var(--first-color);
  border-radius: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.card__cart:hover {
  background-color: var(--first-color_alt);
}


/*-------MEDIA QUERY------*/


@media (min-width: 576px) {
  .home__img {
      width: 80%;
      margin: 0 auto;
  }

  .cardapio__container {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 2rem;
  }
}

  @media (min-width: 768px) {
    :root {
        --big-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
    .logo{
        top: 0;
        margin: 0 2rem;
    }
  }
  
  .cardapio__container {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);

}
